{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <h2>{{ user.username }}'s Profile</h2>
        </div>
        <p>
        <div><a href="{% url 'common:password_change' %}">비밀번호 변경</a></div>
        <p>
        <div><strong>Email</strong></div>
        {{ user.email|default:"&dash;" }}
        <p>
        <div><strong>Nickname</strong></div>
        {{ user.profile.nickname|default:"&dash;" }}
        <p>
        <div><strong>증권사</strong></div>
        {{ user.profile.stock_firm|default:"&dash;" }}
        <p>
        <div class="my-3">
            <a href="{% url 'common:profile_update' %}" class="btn btn-sm btn-outline-secondary">수정하기</a>
            <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'common:profile_delete' %}">삭제하기</a>
        </div>
</div>
{% endblock %}