{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <h4>계정 생성</h4>
        </div>
        <div class="col-9 text-right">
            <span>이미 계정이 있으신가요? <a href="{% url 'common:login' %}">Log in</a></span>
        </div>
    </div>
    <form method="post" class="post-form" action="{% url 'common:signup' %}" >
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="username" class="form-label mt-4">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="email" class="form-label mt-4">Email address</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="Enter email"
                    value="{{ form.email.value|default_if_none:'' }}">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="nickname" class="form-label mt-4">Nickname</label>
            <input type="text" class="form-control" name="nickname" id="nickname" placeholder="Nickname"
                   value="{{ form.nickname.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password1" class="form-label mt-4">Password</label>
            <input type="password" class="form-control" name="password1" id="password1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="password2" class="form-label mt-4">Password Check</label>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="stock_firm" class="form-label mt-4">증권사</label>
            <select class="form-select" id="stock_firm" name="stock_firm">
                <option>키움증권</option>
                <option>삼성증권</option>
                <option>한국투자증권</option>
                <option>KB증권</option>
                <option>미래에셋증권</option>
                <option>신한금융투자</option>
                <option>그 외</option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>
{% endblock %}