{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="../_assets/css/custom.min.css">
    <!-- style CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>stock_pred</title>
</head>
<body>
{% include "navbar.html" %}
{% block content %}
{% endblock %}
<!-- jQuery JS -->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
<br><br><br><br><br>
<!-- 출처 -->
      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="float-end"><a href="#top">Back to top</a></li>
              <li><a href="https://github.com/id-gxon/investment-analysis.git">GitHub</a></li>
<!--              <li><a href="../help/#api">API</a></li>-->
            </ul>
            <p>Made by <a href="https://github.com/id-gxon/">김건우</a>
                    <a href="https://github.com/junnng">이현정</a>
                    <a href="https://github.com/Ddongh">박동혁</a>
                    <a href="https://github.com/dabokkim">김다복</a>
            </p>
            <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
              <p class="text-warning"><strong>※StockPred의 예측을 바탕으로 매매/매도한 유저의 주식 결과는 책임지지 않습니다.</strong></p>
          </div>
        </div>
      </footer>
</body>
</html>