{% extends 'base.html' %}
{% load board_filter %}
{% block content %}
<div class="container my-3">
    <!-- 사용자 오류 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}

    <h2 class="border-bottom py-2">
        {{ discussion.subject }}<h6>조회수: {{ discussion.view_count }}</h6>
    </h2>

    <div class="container">
        {% if discussion.image %}
            <img src="{{discussion.image.url}}" style="width:80%; height:500px">
            <br><br>
        {% endif %}
    </div>

    <div class="row my-3">
        <div class="col-1">
            <div class="bg-light text-center p-3 border font-weight-bolder mb-1">{{ discussion.voter.count }}</div>
            <a href="#" data-uri="{% url 'board:vote_discussion' discussion.id  %}"
               class="recommend btn btn-sm btn-secondary btn-block my-1">추천하기</a>
        </div>
        <div class="col-11">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">{{ discussion.content|mark }}</div>
                    <div class="d-flex justify-content-end">
                        {% if discussion.modify_date %}
                        <div class="badge rounded-pill bg-light p-2 text-left mx-3">
                            <div class="mb-2">modified at</div>
                            <div>{{ discussion.modify_date }}</div>
                        </div>
                        {% endif %}

                        <div class="badge rounded-pill bg-light">
                            <div class="mb-2">{{ discussion.author.username }}</div>
                            <div>{{ discussion.create_date }}</div>
                        </div>
                    </div>
                    {% if request.user == discussion.author %}
                    <div class="my-3">
                        <a href="{% url 'board:discussion_modify' discussion.id  %}"
                       class="btn btn-sm btn-outline-secondary">수정하기</a>
                        <a href="#" class="delete btn btn-sm btn-outline-secondary"
                           data-uri="{% url 'board:discussion_delete' discussion.id  %}">삭제하기</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <h5 class="border-bottom my-3 py-2">{{discussion.answer_set.count}}개의 답변이 있습니다.</h5>
    {% for answer in discussion.answer_set.all %}
    <a name="answer_{{ answer.id }}"></a>
    <div class="row my-3">
        <div class="col-1">
            <div class="bg-light text-center p-3 border font-weight-bolder mb-1">{{answer.voter.count}}</div>
            <a href="#" data-uri="{% url 'board:vote_answer' answer.id  %}"
            class="recommend btn btn-sm btn-secondary btn-block my-1">추천하기</a>
        </div>
        <div class="col-11">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">{{ answer.content|mark }}</div>
                    <div class="d-flex justify-content-end">
                        {% if answer.modify_date %}
                        <div class="badge rounded-pill bg-light text-left mx-3">
                            <div class="mb-2">modified at</div>
                            <div>{{ answer.modify_date }}</div>
                        </div>
                        {% endif %}
                        <div class="badge rounded-pill bg-light">
                            <div class="mb-2">{{ answer.author.username }}</div>
                            <div>{{ answer.create_date }}</div>
                        </div>
                    </div>
                    {% if request.user == answer.author %}
                    <div class="my-3">
                        <a href="{% url 'board:answer_modify' answer.id  %}"
                        class="btn btn-sm btn-outline-secondary">수정하기</a>
                        <a href="#" class="delete btn btn-sm btn-outline-secondary"
                            data-uri="{% url 'board:answer_delete' answer.id  %}">삭제하기</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <form action="{% url 'board:answer_create' discussion.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% if field.errors %}
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
            <textarea {% if not user.is_authenticated %}disabled{% endif %}
              name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <br>
        <input type="submit" value="답글등록" class="btn btn-primary">
    </form>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
    $(".recommend").on('click', function() {
        if(confirm("정말로 추천하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}