{% extends 'base.html' %}
<!--{% load static %}-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">-->
{% block content %}
{% load static %}
<link rel="stylesheet" type="'text/css" href="{% static 'bootstrap.min.css' %}">
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>종목명</th>
            <th>종목코드</th>
            <th>사업분야</th>
            <th>홈페이지</th>
        </tr>
        </thead>
        <tbody>
        {% if stock_list %}
        {% for stock in stock_list %}
        <tr>

            <td>
                <a href="{% url 'stockpredapp:result' stock.id %}">{{ stock.stock_name }}</a>
            </td>
            <td>
                <a href="{% url 'stockpredapp:result' stock.id %}">{{ stock.stock_code }}</a>
            </td>
            <td>{{ stock.sector }} / {{ stock.industry}}</td>
            <td>
                <a href="{{ stock.homepage }}">{{ stock.homepage }}</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">종목이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!--페이징 처리 시작-->
    <ul class="pagination justify-content-center">
        <!--이전 페이지-->
        {% if stock_list.has_previous %}
        <li class="page-item">
            <a class="'page-ling" href="?page={{ stock_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!--페이지 리스트-->
        {% for page_number in stock_list.paginator.page_range %}
        {% if page_number >= stock_list.number|add:-5 and page_number <= stock_list.number|add:5 %}
            {% if page_number == stock_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!--다음페이지-->
        {% if stock_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ stock_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!--페이징 처리 끝-->
</div>
{% endblock %}

<!--{% if stock_list %}-->
<!--    <ul>-->
<!--    {% for stock in stock_list %}-->
<!--        <li><a href="{% url 'stockpredapp:result' stock.id %}">{{ stock.stock_name }}</a></li>-->

<!--    {% endfor %}-->
<!--    </ul>-->
<!--{% else %}-->
<!--    <p>종목이 없습니다.</p>-->
<!--{% endif %}-->